
.heading {
  font-size: 28px;
}

/*
.backcolor {
  
  background-color: aqua;
  background-size: cover;

}

.tbackcolor {
  
  background-color: aqua;
  background-size: cover;

}
*/
.secondcol {
  
  min-height: 400px;
}

.stats {
  margin: auto;
  min-width: 30px;
  position: relative;
}

.minheight {
  min-height: auto;
}
